.title-desc-style {
  border: 1px solid rgb(174, 174, 174);
  border-radius: 3px;
  padding: 5px 0 5px 5px;
  background-color: rgb(239, 239, 239);
  padding-left: 10px;
}

.poll-link-input {
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  margin-left: 8px;
  margin-bottom: 5px;
  padding-left: 8px;
  font-size: 16px;
  color: darkorchid;
}
